.slidersMain {
  width: 100%;
  max-width: 1600px;
  padding: 50px 15px 38px 15px;
  margin-left: auto;
  margin-right: auto;
}

.titleS {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 28.9832px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 20px;
}

.slidCrad {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin: 0px 7px;
}

.dltbtn {
  width: 150px;
  height: 40px;
  background-color: red !important;
  color: #ffffff;
  border-radius: 4px;
}
.imgArea {
  width: 90px;
  height: 90px;
  background: radial-gradient(50% 50% at 50% 50%, #363636 0%, #373737 100%);
  border: 1.925px solid #00e5be;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardSimg {
  width: 80px !important;
  height: 80px !important;
  border-radius: 50%;
}

.storieName {
  margin-top: 11px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 18.2286px;
  line-height: 25px;
  color: #ffffff;
}

.slidesOuter {
  background: none !important;
  display: flex !important;
  justify-content: flex-start !important;
}

@media (max-width: 1350px) {
  .imgArea {
    width: 100px;
    height: 100px;
  }

  .cardSimg {
    width: 50px !important;
    height: 50px !important;
  }

  .storieName {
    font-size: 13.2286px;
    margin-top: 7px;
  }

  .slidersMain {
    max-width: 920px;
  }
}

@media (max-width: 992px) {
  .imgArea {
    width: 70px;
    height: 70px;
  }

  .cardSimg {
    width: 35px !important;
    height: 35px !important;
  }

  .storieName {
    font-size: 11.2286px;
    margin-top: 5px;
  }

  .slidersMain {
    max-width: 800px;
  }

  .titleS {
    font-size: 20px;
  }
}

@media (max-width: 820px) {
  .imgArea {
    width: 60px;
    height: 60px;
  }

  .cardSimg {
    width: 30px !important;
    height: 30px !important;
  }

  .storieName {
    font-size: 10px;
    margin-top: 5px;
  }

  .slidersMain {
    max-width: 800px;
  }

  .titleS {
    font-size: 20px;
  }

  .slidersMain {
    padding: 25px 15px 25px 15px;
  }
}

@media (max-width: 600px) {
  .imgArea {
    width: 55px;
    height: 55px;
  }

  .cardSimg {
    width: 27px !important;
    height: 27px !important;
  }

  .storieName {
    font-size: 9px;
    margin-top: 5px;
  }

  .slidersMain {
    max-width: 800px;
  }

  .titleS {
    font-size: 20px;
  }
}

.greenCircleAdd {
  width: 90px;
  height: 90px;
  border: 5px dotted #00e5be;
  color: #00e5be;
  border-radius: 50%;
  font-size: 55px;
  padding: 12px;
  padding-left: 18px;
  padding-top: 3px;
  margin-left: 15px;
  position: relative;
  top: -14px;
  min-width: 90px;
  min-height: 90px;
  align-items: center;
  display: flex;
}
