.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev {
  z-index: 10;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background: white;
}

.swiper-button-prev::after {
  font-size: 24px !important;
}

.swiper-button-next {
  z-index: 10;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background: white;
}

.swiper-button-next::after {
  font-size: 24px !important;
}

.swiper-button-disabled {
  display: none !important;
}

@media (max-width: 1350px) {
  .swiper-button-prev {
    z-index: 10;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: white;
  }

  .swiper-button-prev::after {
    font-size: 16px !important;
  }

  .swiper-button-next {
    z-index: 10;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: white;
  }

  .swiper-button-next::after {
    font-size: 16px !important;
  }
}

@media (max-width: 820px) {
  .swiper-button-prev {
    z-index: 10;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
  }

  .swiper-button-prev::after {
    font-size: 12px !important;
  }

  .swiper-button-next {
    z-index: 10;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
  }

  .swiper-button-next::after {
    font-size: 12px !important;
  }
}

.dropdownWrapper {
  position: relative;
  width: 200px;
  text-align: right;
  height: auto !important;
}
.Dropdown-menu {
  position: static !important;
}
