.slidersOuter {
  padding-top: 50px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-bottom: 60px;
}

.modelsArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modelsHead {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 28.9832px;
  line-height: 40px;
  color: #ffffff;
}

.viewText {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20.2067px;
  line-height: 28px;
  text-decoration-line: underline;
  color: #00e5be;
}

.slidsWid {
  width: 100%;
}

.slideCrad {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  max-width: 222px !important;
  margin-top: 15px;
  margin-right: 7px;
}

.coloredArea {
  display: flex;
  flex-direction: column;
  width: 221.98px;
  height: 221.98px;
  background: rgba(245, 193, 46, 0.5);
  border-radius: 11.4819px;
}

.coloredArea2 {
  display: flex;
  flex-direction: column;
  width: 221.98px;
  height: 221.98px;
  background: rgba(200, 52, 71, 0.5);
  border-radius: 11.4819px;
}

.cardsImg {
  width: 122px;
  height: 153px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
}

.cardsText {
  font-family: "Waiting for the Sunrise";
  font-style: normal;
  font-weight: 300;
  font-size: 22.9638px;
  line-height: 38px;
  color: #ffffff;
  margin-left: 7px;
  margin-right: auto;
  margin-top: 10px;
}

.robertDes {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 17.2899px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 9px;
}

@media (max-width: 1350px) {
  .coloredArea2 {
    width: 190px;
    height: 190px;
  }

  .coloredArea {
    width: 190px;
    height: 190px;
  }

  .cardsImg {
    width: 95px;
    height: 118px;
  }

  .cardsText {
    font-size: 17.9638px;
    line-height: 38px;
  }

  .robertDes {
    font-size: 14.2899px;
    margin-top: 7px;
  }

  .slidsWid {
    max-width: 1035px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1100px) {
  .slidsWid {
    max-width: 846px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 920px) {
  .slidsWid {
    max-width: 688px;
    margin-left: auto;
    margin-right: auto;
  }

  .coloredArea2 {
    width: 150px;
    height: 150px;
  }

  .coloredArea {
    width: 150px;
    height: 150px;
  }

  .cardsImg {
    width: 70px;
    height: 95px;
  }

  .cardsText {
    font-size: 14.9638px;
    line-height: 30px;
  }

  .robertDes {
    font-size: 14.2899px;
    margin-top: 7px;
  }
}

@media (max-width: 780px) {
  .slidsWid {
    max-width: 528px;
  }

  .modelsHead {
    font-size: 17.9832px;
  }

  .viewText {
    font-size: 16.2067px;
  }

  .slidersOuter {
    padding-top: 20px;
  }
}

@media (max-width: 600px) {
  .slidsWid {
    max-width: 355px;
  }
}

@media (max-width: 440px) {
  .slidsWid {
    max-width: 216px;
  }
}
